@import './variables';

.location-container {
  @include font-properties;

  .header {
    top: 16rem;
    position: -webkit-sticky;
    position: sticky;
    font-size: 1.8rem;
  }

  .ul-container {
    background: rgba(51, 21, 1, 0.6);
    margin-top: 15rem;
    overflow-x: hidden;
    position: -webkit-sticky !important;
    position: sticky !important;
    width: 500px;
    max-height: 65vh;

    ul {
      list-style: none;

      li {
        margin: 1rem;
        padding: 10px;
        border-radius: 10px;
        cursor: default;

        &:after {
          content: '';
          display: block;
          border-bottom: 1px solid whitesmoke;
          border-image-source: radial-gradient(#eee, #333);
          border-image-slice: 1;
          width: 400px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .location-container {
    max-width: 100%;
    p {
      font-size: 1.6rem !important;
      padding-top: 1rem !important;
    }
    .left-col {
      text-align: left !important;
    }
  }
  .loc-right-column {
    margin-left: 1rem;
    max-width: 100%;
    padding: 0px auto !important;

    .ul-container {
      width: auto;
      font-size: 1rem;
    }
  }
}
